.feature-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 3rem;
  max-width: 1200px;
  margin: auto;
}
.feature-section .text-content {
  flex: 1;
  max-width: 50%;
}
.feature-section .text-content h2 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: white;
}
.feature-section .text-content h4 {
  font-size: 1.5rem;
  color: rgb(224, 224, 224);
  margin-bottom: 1rem;
}
.feature-section .text-content ul {
  list-style: disc;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
  text-decoration: none;
  list-style: none;
}
.feature-section .text-content ul li {
  font-size: 20px;
  padding-top: 20px;
  margin-bottom: 0.5rem;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
  color: white;
}
.feature-section .text-content ul li .icon {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  display: flex;
}
.feature-section .text-content p {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.feature-section .image-container {
  flex: 1;
  max-width: 50%;
}
.feature-section .image-container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
@media (max-width: 900px) {
  .feature-section {
    flex-direction: column;
    text-align: center;
  }
  .feature-section .text-content {
    max-width: 100%;
  }
  .feature-section .image-container {
    max-width: 100%;
  }
}: 10px;
}
@media (max-width: 900px) {
  .feature-section {
    flex-direction: column;
    text-align: center;
  }
  .feature-section .text-content {
    max-width: 100%;
  }
  .feature-section .image-container {
    max-width: 100%;
  }
}