.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  background: #ffffff;
}
.list .list-item {
  border: none;
  max-width: 80%;
  padding: 1rem;
  transition: background-color 0.3s, transform 0.2s;
}
.list .list-item h3 {
  margin: 0 0 0.5rem;
  font-size: 2rem;
  color: #333;
}
.list .list-item p {
  margin: 0;
  color: #555;
  font-size: 1.3rem;
}